{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block monTitre %}Modifier mon profil{% endblock %}

{% block body %}
<div container style="padding: 0% 70% 0% 2%">
{{form_start(form)}}
    {{form_row(form.username,{
        "attr" : {
            "placeholder":"Saisissez votre nom d'utilisateur"
        },
        "label" : "Nom d'utilisateur"
    })}}

    {{form_row(form.age,{
        "attr" : {
            "placeholder":"Saisissez votre age"
        },
        "label" : "Âge"
    })}}

    {% if app.user.imageFile %}
    <img src="{{asset('images/profil/' ~ user.image)}}" style="width:25%">
    {% endif %}
    {{form_row(form.imageFile,{
        "attr" : {
            "placeholder":"Choisissez une photo de profil"
        },
        "label" : "Photo de profil"
    })}}

    {{form_row(form.lieuResidence,{
        "attr" : {
            "placeholder":"Saisissez votre lieu de résidence"
        },
        "label" : "Lieu de résidence"
    })}}

    {{form_row(form.dateAnniversaire,{
        "attr" : {
            "placeholder":"Saisissez la date de votre anniversaire"
        },
        "label" : "Date d'anniversaire"
    })}}
  
        <a href="{{path('profil', {'username' : app.user.username})}}" class="btn btn-primary">Retour</a>
        <input type="submit" value="Valider" class="btn btn-success"> 
{{form_end(form)}}
</div>
{% endblock %}
