{% extends 'base.html.twig' %}

{% block stylesheets %}
<head>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
{% endblock %}

{% block title %}Mon profil{% endblock %}

{% block monTitre %}Votre profil{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
<div class="container">
    <div class="row">
        <div class="col-md-6 img">
            {% if app.user.imageFile %}
            <img src="{{asset('images/profil/' ~ utilisateur.image)}}" style="width:60%">
            {% endif %}
        </div>
        <div class="col-md-6 details">
            <blockquote>
                <h5>{{utilisateur.username}}</h5>
                <small><cite title="Source Title">Lieu de résidence : {{utilisateur.lieuResidence}}  <i class="icon-map-marker"></i></cite></small>
            </blockquote>
            <p>
                Date d'anniversaire : {{utilisateur.dateAnniversaire|date("d/m/Y")}} <br>
                Age : {{utilisateur.age}} ans <br>
                Accéder aux publications de cette personne : <a href="" class="btn btn-primary">ici</a> (ne fonctionne pas)
            </p>
        </div>
    </div>
  </div>

        <a href="{{path('modifierProfil',{'username' : app.user.username})}}" class="btn btn-success">Modifier</a>
        <a href="{{path('bienvenue')}}" class="btn btn-primary">Retour</a>
{% endblock %}
